POSTGRES_HOST = 172.17.63.110
POSTGRES_PORT = 5432

POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_DB = summary
MSSQL_HOST = 192.168.0.29
MSSQL_USERNAME = cleverence
MSSQL_PASSWORD = 
MSSQL_DB = maindb
BOT_TOKEN = 
CHAT_ID = 
EXPRESS_API_URL = https://ects.unicosm.ru/api/v4/botx/notifications/direct
EXPRESS_API_TOKEN = SFMyNTY.g2gDbQAAACQ2ZWNjMDdlMC05Nzc2LTVkNDktYjBkZi1lY2MxOGRjODY4NDhuBgArnEYunQFiAAFRgA.a1VTQ7wq6d7iKobMaH1Ol4MW-vjWX0eDwqW2ZIU6D38
KLP_TECHNOLOGIST_CHAT_ID =  60e2a1ab-7e6d-59d6-9852-6583280d9a78
PSK_TECHNOLOGIST_CHAT_ID = e758020a-0924-59a3-ada2-83b4ff40462c
KLP_PACKAGING_CHAT_ID = 240c910b-06dd-583b-9e9d-cee9aad8aaab
PSK_PACKAGING_CHAT_ID = f45ef4f7-70c4-5d7b-95ce-0521247faa21
