POSTGRES_HOST = 172.17.63.110
POSTGRES_PORT = 5432

POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_DB = summary
MSSQL_HOST = 192.168.0.29
MSSQL_USERNAME = cleverence
MSSQL_PASSWORD = 
MSSQL_DB = maindb
BOT_TOKEN = 
CHAT_ID = 
EXPRESS_API_URL = 
KLP_TECHNOLOGIST_CHAT_ID = po01
PSK_TECHNOLOGIST_CHAT_ID = po02
KLP_PACKAGING_CHAT_ID = po03
PSK_PACKAGING_CHAT_ID = po04
