.summary_page_container {
    width: calc(100% - 2 * var(--global-margin));
    height: calc(100% - 2 * var(--global-margin));
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary_page_header {
    display: flex;
    color: var(--selected-color);
    font-weight: bold;
}

.summary_page_tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* background-color: aqua; */
}

.summary_page_tab {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: bisque;
}






.summary_page_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}