.user_pane_container {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* background-color: aqua; */

}

.user_pane_name {
    color: var(--menu-color);
    /* font-weight: bold; */
    font-size: 0.8rem;
}

/* .user_pane_button_container {
    margin-top: 5px;
    padding-bottom: 5px;
} */

.user_pane_button {
    border: 0.5px solid var(--selected-color);
    background-color: var(--selected-color);
    color: var(--content-background-color);
    border-radius: 5px;
    font-size: 0.8rem;
}