.laboratory_page__container {
    width: calc(100% - 2 * var(--global-margin));
    height: calc(100% - 2 * var(--global-margin));
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.laboratory_page__header {
    display: flex;
    color: var(--selected-color);
    font-weight: bold;
    height: 20px;
    align-items: center;
}

.laboratory_page__subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.laboratory_page__selector_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    gap: 10px;
}

.laboratory_page__plant_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: 0.5px var(--body-background-color) solid
}

.laboratory_page__plant_selector:focus {
    outline: 0;
}

.laboratory_page__button {
    color: var(--content-background-color);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8rem;
    box-shadow: none;
    text-decoration: none;
    background-color: var(--selected-color);
    border: 1px var(--selected-color) solid;
}

.laboratory_page__button:hover {
    border: 1px var(--body-background-color) solid;
}

.laboratory_page__button:active {
    color: var(--selected-color);
    background-color: var(--content-background-color);
}

.laboratory_page__table {
    display: flex;
    width: 100%;
    border-radius: var(--global-border-radius);
    height: calc(100% - 80px);
    border: 1px var(--body-background-color) solid;
}

.laboratory_page__message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}