.main_container {
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



.center_window {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px
}

.message_pane {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 400px;
    left: 0px;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;
}

.side_pane {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 400px;
    right: 0px;
}

.disconnect {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--disconnect-background-color);
    color: var(--main-color)
}

.header {
    display: flex;
    align-items: flex-start;
}

.main_input {
    /* background-color: aqua; */
    border-radius: 10px;
    border: var(--border-color) 2px solid;
    height: 50px;
}

.prompt {
    text-align: justify;
}

.help_text {
    text-align: justify;
    color: var(--secondary-color);
}

.icon {
    width: 50px;
    align-self: center;
    fill: var(--sign-color);
    stroke: var(--sign-color)
}