.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px;
}

.undefined {
    border-color: grey;
    background-color: grey;
}

.fail {
    border-color: red;
    background-color: red;
}

.wait {
    border-color: yellow;
    background-color: yellow;
}

.good {
    border-color: green;
    background-color: green;
}