.main_container {
    background-color: var(--body-background-color);
    border-radius: var(--global-border-radius);
    width: calc(var(--global-width) - 2*var(--global-margin));
    height: calc(100vh - 2*var(--global-margin));
    display: flex;
    gap: var(--global-padding);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
}

.main_pane {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--global-padding);
    margin-bottom: var(--global-padding);
    height: calc(100vh - 2*var(--global-margin) - 3*var(--global-padding) - var(--header-height));
}

.header {
    display: flex;
    width: calc(var(--global-width) - 2*var(--global-margin) - 3*var(--global-padding));
    height: var(--header-height);
    color: var(--menu-color);
    margin-top: var(--global-padding);
    margin-left: var(--global-padding);
    margin-right: var(--global-padding);
    background-color: var(--content-background-color);
    border-radius: var(--global-border-radius);
    border: var(--content-border-color) 0.5px solid;
    box-shadow: -1px 1px 5px 0px var(--content-border-color);
}