.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px;
}

.undefined {
    border-color: grey;
    background-color: grey;
}

.fail {
    border-color: red;
    /* border-color: grey; */
    background-color: red;
}

.wait {
    border-color: yellow;
    /* border-color: grey; */
    background-color: yellow;
}

.good {
    border-color: green;
    /* border-color: grey; */
    background-color: green;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}