.message_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: var(--border-color) 2px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.success {
    color: mediumseagreen;
    font-weight: bold;
}

.fail {
    color: tomato;
    font-weight: bold;
}

.message_text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}